<div class="tabela">
    <app-tabela
        tituloBotao="Novo Empréstimo"
        [headerTabela]="['Cod.', 'Livro', 'Pessoa', 'Data Empréstimo','Data Devolução','Status' , 'Ação']"
        [mostrarImagem]="true"
        [dados]="jsonData"
        [buttonArray]="botoes"
        (abrirModalEvent)="abrirModal()"
    >
    </app-tabela>
</div>

<app-modal titulo="Novo Emprestimo" [modalAberto]="modalAberto" (closeModal)="fecharModal()"> 

 
        <div class="form-container">
            <app-input label="Pessoa" inputType="text" value="" class="col-12"></app-input>
            <button class="search-button">Pesquisar</button>
        </div>


</app-modal>