.col-12 {
    width: 89%;
}

.form-container {
    display: flex;
    align-items: center;
}

.search-button {
    position: absolute;
    background-color: #3498db; 
    top: 22%;
    left: 88.5%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

