.livro {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.proximo {
  background-color: #ffcccc;
  border-color: #ff6666;
}

.livro h3 {
  color: #333;
  margin-bottom: 8px;
}

.livro p {
  color: #666;
  margin: 0;
}

.ver-detalhes {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ver-detalhes:hover {
  background-color: #2980b9;
}
