.card {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-conteudo{
    width: 100%;
   
}

.card-content {
    font-size: 16px;
}

.card-icon{
    font-size: 45px;
}