.card {
    width: 100%;
    padding: 20px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-conteudo{
    width: 100%;
    color: white;
   
}
.card-content {
    font-size: 20px;
    font-weight: bold;
}


.card-icon{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.466);
 
}

