<div class="sidebar">
    <div class="header">
        <div class="site-name"><i class="fa-solid fa-book-open"></i>BiblioTech</div>
        <img class="profile-pic" src="../../../assets/img/marc.jpeg" alt="Foto de Perfil">
        <div class="profile-name">Marcinha</div>
    </div>
    <div class="menu">
        <div class="menu-item "><a [routerLink]="['/']" ><i class="fa-solid fa-house"></i><span>Início</span></a></div>
        <div class="menu-item"><a [routerLink]="['/livros']"><i class="fa-solid fa-book"></i><span>Livros</span></a></div>
        <div class="menu-item "><a [routerLink]="['/pessoas']"><i class="fa-solid fa-users"></i><span>Pessoas</span></a></div>
        <div class="menu-item"><a [routerLink]="['/emprestimo_e_devolucao']"><i class="fa-solid fa-people-carry-box"></i><span>Empréstimos e Devoluções</span></a></div>
        <div class="menu-item "><a [routerLink]="['/historico']"><i class="fa-solid fa-clock-rotate-left"></i><span>Histórico de Empréstimos</span></a></div>
        <div class="menu-item"><a href="#"><i class="fa-solid fa-right-from-bracket fa-rotate-180"></i><span>Sair</span></a></div>
    </div>
</div>
