<div class="table">
    <div class="table-header">
            <p>Livros</p>
            <div>
                <input placeholder="Livros">
                <button class="add-new">Novo Livro</button>
            </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Owner</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="https://m.media-amazon.com/images/I/41zvW5OkqVL._SY445_SX342_.jpg" alt=""></td>
                    <td>Camera</td>
                    <td>teste@gmail.com</td>
                    <td>Teste teste</td>
                    <td>
                        <button><i class="fa-solid fa-eye"></i></button>
                        <button><i class="fa-solid fa-pen-to-square"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>